.autor {
  &__text {
    h1 {
      line-height: 0.9;
      width: 80%;
      max-width: 360px;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: -0.02em;
      margin-bottom: 30px;

      @media (min-width: $tablet-s) {
        font-size: 48px;
      }
      @media (min-width: $desktop-s) {
        line-height: 1.15;
      }
    }

    small {
      font-family: $font-alt;
      font-size: 13px;
      letter-spacing: 0.3em;
      display: inline-block;
      margin: 0 0 40px 0;
      border-top: 1px solid #ccc;
      padding: 12px 0 0 0;
    }

    p {
      margin-bottom: 20px;
    }
  }
}
